body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 20px;
}

#titulo {
    font-size: 1.5em;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 100%;
    max-width: 300px;
}

.card h2 {
    margin-bottom: 10px;
}

.details {
    text-align: left;
}

.details h2 {
    margin-bottom: 10px;
}

.details ul {
    list-style-type: none;
    padding: 0;
}

.details li {
    margin-bottom: 10px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #000; /* Color negro mate */
    color: #fff; /* Color blanco para las letras */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
}

button:hover {
    background-color: #333; /* Color más claro para el hover */
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media (max-width: 600px) {
    #titulo {
        font-size: 1.2em;
    }

    .input-group {
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
    }
}
